{% extends 'base.html.twig' %}

{% block title %}Accueil TRT{% endblock %}

{% block wrapper %}


<div class="container-fluid">

    <div class="jumbotron">
        <div class="slide">
            <div>

                <img src="{{ asset('build/images/restaurant-1.jpg')}}" alt="recrutement en restauration">

                <img src="{{ asset('build/images/restaurant-3.jpg')}}" alt="recrutement en restauration">
                <img src="{{ asset('build/images/restaurant-2.jpg')}}" alt="recrutement en restauration">
            </div>

        </div>
        <div class="container description">
            <div class="row">
                <div class="col-12 col-lg-4 ">
                    <div class="metier">
                        <h1 class="display-4"><strong>TRT,</strong> recrutement</h1>
                        <h2>est un spécialiste du recrutement dans la restauration et l'hôtellerie.</h2>
                    </div>

                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-xl-6">


                        </div>
                        <div class="col-12 col-xl-6 ">

                            <div class="specialite">

                                <div>
                                    <h3>Recruteur</h3>
                                    <p>TRT, est la solution idéale pour vos besoin de recrutement. </p>
                                </div>
                                <div>
                                    <h3>Candidat</h3>
                                    <p>TRT, vous aide à trouver un emploi dans l'hôtellerie ou la restauration. </p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}