{% form_theme formInitpassword 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe!{% endblock %}

{% block wrapper %}
{% for message in app.flashes('Erreurnewpasswod') %}
<div class="alert alert-danger" role="alert">{{ message}}</div>
{% endfor %}
<div>

    <div class=" form inscription ">

        <div>
            <h1 class="form-header bgMenu">Nouveau mot de passe</h1>
            {{ form_start(formInitpassword) }}

            {{ form_row(formInitpassword.plainPassword, {
            label: 'mot de passe'},{'attr': {'class': 'form-control'}}) }}

            <div> <button type="submit" class="btn btn-primary">Réinitialiser</button></div>

            {{ form_end(formInitpassword) }}

        </div>


    </div>

</div>
{% endblock %}