{% extends 'base.html.twig' %}

{% block title %}admin:trt{% endblock %}

{% block wrapper %}

<div class="container-fluid admin">
    <h1>Bienvenue dans votre espace candidat: Administrateur</h1>

    <div class="container admin">

        <h1>Administrateur</h1>
    </div>
</div>
{% endblock %}