<div class="liste annonce ">
    <ul class="nav nav-tabs">
        <li class="nav-item consultant ">
            
        </li>
        <li class="nav-item candidat ">
            
        </li>
    </ul>

    {% include 'consultant/annonces_non_validees.html.twig'%}
    {% include 'consultant/annonces_validees.html.twig'%}
</div>