.validation p {
    font-size: 30px;
}

.admin .row {
    margin: 0 5px;
}

h1 {
    padding: 8px;
}

.boutons {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 50px;
    left: 65%;
    bottom: 10px;

    button {
        position: absolute;
        border: none;
    }
}

.align {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hide {
    display: none;
}

h2.bg {
    color: #eee;
    text-indent: 10px;
}

.candidat,
.recruteur {
    table {
        width: 100%;

        td {
            text-align: center;
        }
    }

    tr {
        height: 35px;

        td {
            padding: 5px;

        }
    }

}