$colorbleuciel:#33cccc;
$colorGris:#555;
$colorGrisClaire:#999;

/* Color Theme Swatches in Hex */
$ColorVertFonce: #012E40;

$ColorVertEmpire: #025159;
$ColorVertCanard: #038C8C;
$ColorVertPoireau: #03A696;
$ColorVertMenthe:#5C8C46;
$ColorVertPelouse:#84B026;
$ColorOrange:#F28705;

/* Color Theme Swatches in RGBA */

@function ColorVertFonceRgba($coef) {
    @return rgba(1, 46, 63, $coef);
}

@function ColorVertEmpireRgba($coef) {
    @return rgba(1, 80, 89, $coef);
}

@function ColorVertCanardRgba($coef) {
    @return rgba(2, 140, 140, $coef);
}

@function ColorVertPoireauRgba($coef) {
    @return rgba(3, 165, 149, $coef);
}

@function ColorOrangeRgba($coef) {
    @return rgba(242, 135, 4, $coef);
}

@function ColorVertMentheRgba($coef) {
    @return rgba(91, 140, 70, $coef);
}

@function ColorVertPelouseRgba($coef) {
    @return rgba(132, 175, 37, $coef);
}


$bgMenu:$ColorVertEmpire;
$colorMenu:$colorGrisClaire;

.color-alert {
    color: $ColorOrange;
}

.bg-alert {
    background-color: ColorOrangeRgba(0.3);
}

.color-link {
    color: $ColorVertEmpire;

    &:hover {
        color: $colorGrisClaire;
    }
}

$colorAdmin: candidat $ColorVertPoireau ColorVertPoireauRgba(0.3) ColorVertPoireauRgba(0.7),
recruteur $ColorVertMenthe ColorVertMentheRgba(0.3) ColorVertMentheRgba(0.7),
consultant $ColorVertCanard ColorVertCanardRgba(0.3) ColorVertCanardRgba(0.7),
admin $ColorVertPelouse ColorVertPelouseRgba(0.3) ColorVertPelouseRgba(0.7);

@each $nom,
$color,
$rgba,
$rgbapaire in $colorAdmin {
    .admin .#{$nom} h1 {
        background-color: $color;
    }

    .admin .#{$nom} h2 {
        &.slide {
            border-left: 5px solid $color;
            border-bottom: 1px solid $color;
        }

        &.bg {
            background-color: $color;
        }
    }

    .admin .#{$nom} {
        &.liste {
            border: 1px solid $color;
            padding: 0;
        }
    }

    .admin .#{$nom} .bg-succes {
        background-color: $rgba;
    }

    .admin .#{$nom} svg {
        color: $color;
    }

    .admin .#{$nom}.liste {
        tbody {
            tr.paire {
                background-color: $rgbapaire;
            }

            tr.impaire {
                background-color: $rgba;
            }
        }
    }
}