html,
body {
    height: 100%;
}

body {
    background-color: #eee;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lalezar', cursive;
    color: $ColorVertFonce;
}

p,
h2 {
    color: $ColorVertEmpire;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bgMenu {
    background-color: $bgMenu;
}

a {
    color: $colorGrisClaire;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link {
    color: $colorGrisClaire;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus,
.btn-primary,
.btn-primary:active {
    background-color: $ColorOrange;
    border: 1px solid $ColorOrange;

    &:hover {
        background-color: ColorOrangeRgba(0.7);
        border: 1px solid $ColorOrange;
    }
}

.bg-secondary,
.dropdown-menu {

    a {
        color: $ColorOrange;

        &:hover {
            background-color: $ColorVertEmpire;
        }
    }
}

.align-right {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}