.bgbleuciel{
    background-color:$colorbleuciel ;
}
a{
    color:$colorgris;
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,.navbar-dark .navbar-nav .nav-link {
    color:$colorgris;
}