.login div.connect {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    div {
        width: 400px;
        background-color: $ColorVertPoireau;
        margin: 20px;
    }

    form {
        padding: 20px;
    }

    h3 {
        background-color: $ColorVertFonce;
        color: $ColorVertPoireau;
        padding: 5px 10px;
    }

    .btn {
        margin-top: 10px;
    }

}