{% extends 'base.html.twig' %}

{% block title %} Candidat:trt{% endblock %}
{% block javascripts %}



{{ encore_entry_script_tags('js/admin') }}
{% endblock %}
{% block wrapper %}
<div class="container-fluid candidat">
    <h1>Bienvenue dans votre espace candidat: </h1>
    <ul class="nav nav-tabs">
        <li class="nav-item candidat ">
            <a class="nav-link {% if onglet == 'profil' %} active {% endif %}" href="{{path('app_candidat')}}">profil
                candidat</a>
        </li>
        <li class="nav-item annonce ">
            <a class="nav-link {% if onglet == 'annonce' %} active {% endif %}"
                href="{{path('app_candidat_annonce')}}">Listes
                de mes
                candidatures</a>
        </li>


    </ul>
    <div class="content {% if onglet == 'profil' %} candidat {% else %}  {{onglet}} {% endif %}">
        {% if onglet == 'profil' %} {% include 'candidat/profil_candidat.html.twig'%}{% endif %}
        {% if onglet == 'annonce' %} {% include 'candidat/liste_candidature.html.twig'%}{% endif %}
    </div>

    {% endblock %}